*.iml
*.ipr
*.iws
.idea
/.idea
/build

/node_modules

/site/_site
/site/lib

/lib 

!/lib/handlebars/handlebars.min.js
!/lib/jquery-maskedinput/dist/jquery.maskedinput.min.js
!/lib/jquery-price-format2/jquery.price_format.min.js

notes.md

/customers
/npm

_old/

deploy.log

package.json.npm

.vscode
package-lock.json